#chat-screen {
  background-color: #abc0d0;
  height: 200vh;
}

#chat-screen .alt-header {
  position: fixed;
  top: 26px;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  background-color: #abc0d0;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a3b1;
  padding: 10px 15px;
  border-radius: 18px;
  font-size: 15px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}

.message__author {
  opacity: 0.8;
  font-size: 17px;
  margin-bottom: 7px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 15px;
  font-size: 20px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 20px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-input {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 25px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.message-input i {
  opacity: 0.5;
}

.message-input .message-input__column:first-child {
  width: 10%;
}
.message-input .message-input__column:last-child {
  width: 90%;
  position: relative;
}
.message-input input {
  width: 100%;
  height: 30px;
  background-color: #f8f8f8;
  border: var(--divider-border);
  border-radius: 25px;
  padding: 25px 15px;
  font-size: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.message-input__column:last-child > i,
.message-input__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.message-input__column:last-child > i {
  right: 60px;
  top: 10px;
}

.message-input__column button {
  background-color: var(--yellow);
  border: none;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.message-input__column button i {
  opacity: 1;
}

.message-input__column button:focus,
.message-input__column button:active {
  outline: none;
}

.message-input:focus-within .message-input__column:first-child,
.message-input:focus-within .fa-smile-wink,
.message-input:focus-within button {
  opacity: 0;
}

.message-input .message-input__column:first-child,
.message-input .fa-smile-wink,
.message-input button {
  transition: all 0.3s ease-in-out;
}

.message-input input:focus {
  width: 95vw;
  transform: translateX(-12%) translateY(-80px);
}

.message-input:focus-within {
  transform: translateY(80px);
}
